body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* background-color: #f4ebd0; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: black;
  width: 100%;
  overflow: hidden;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.home {
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  padding-top: 0%;
}

.tag {
  text-align: center;
}

.slick-slide img {
  margin: auto;
  width: 50%;
  height: 50%;
}

.navbar li {
  float: right;
  list-style: none;
  margin: 20px 20px;
  font-family: 'League Spartan', sans-serif;
  font-size: 22px;
  padding-top: 20px;
  padding-right: 30px;
}

.navbar li a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.navbar ul {
  overflow: auto;
}

.lets {
  color: white;
  font-size: 60px;
}

.all-one {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  padding-top: 0.01px;
}

.build {
  font-family: 'Public Sans', sans-serif;
  padding-left: 50px;
  padding-top: 300px;
}

.btn-btn {
  background-color: white;
  border: none;
  height: 60px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.explore {
  padding-top: 20px;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  font-size: 36px;
}

.container {
  padding-left: 70px;
}

.row {
  align-content: center;
  padding-top: 30px;
}
.card {
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  color: white;
  transition: transform .2s;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image:hover {
  opacity: 0.9;
}

.card:hover {
  -ms-transform: scale(0.9);
  /* IE 9 */
  -webkit-transform: scale(0.9);
  /* Safari 3-8 */
  transform: scale(0.9);
}

.sub-head {
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  font-weight: 100;
}

.cols {
  float: left;
  width: 50%;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

.rows {
  padding-top: 60px;
}

.cont_img {
  padding-top: 50px;
  padding-left: 100px;
}
.cont_head {
  font-family: 'Public Sans', sans-serif;
  font-size: 60px;
}
.cont_subhead {
  font-family: 'Public Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.contact_group {
  padding-top: 50px;
  font-family: 'Bitter', serif;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
}

.foot_style {
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  margin-top: 50px;
}
.made_with {
  padding-top: 25px;
  font-family: 'Bitter', serif;
  font-family: 'Dosis', sans-serif;
}
.button_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: rgb(54, 116, 186); */
}







.login {
  background-color: #f4ebd0;
}
.signup {
  padding-top: 200px;
  /* padding-left: 400px; */
  text-align: center;
}
.login-text {
  font-family: 'Public Sans', sans-serif;
  font-size: 40px;
}
.login-box {
  display: flex;
}
.input-div {
  padding-top: 30px;
}
